// Breakpoints
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

/**********************
 * Colors
 **********************/
$white:      #FFF;
$smoke:      #F2F2F2;
$light_gray: #999;
$gray:       #666;
$dark_gray:  #333;
$black:		 #000;

$red: #AD2719;

/**********************
 * Fonts
 **********************/
$font-stack: Helvetica, Arial, sans-serif;

@function paragraph($size) {
    @return normal $size $font-stack;
}


@mixin center-col() {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

