// Breakpoints
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

/**********************
 * Colors
 **********************/
$white:      	#FFF;
$smoke:      	#F2F2F2;
$lighter_gray:	#CCC;
$light_gray: 	#999;
$gray:       	#666;
$dark_gray:  	#333;
$black:		 	#222;

$blue:		 	#093B5C;
$steel_blue: #47639e;

$purple:    #4f1643;
$cranberry: #870028;
$red: 			#AD2719;
$green: 		#30D146;
$gold:			#F0D824;

/**********************
 * Fonts
 **********************/
$font-stack: Helvetica, Arial, sans-serif;
$headline-stack: "alternate-gothic-no-3-d", Helvetica, Arial, sans-serif;

@function paragraph($size) {
    @return normal $size $font-stack;
}

@function headline($size) {
	@return normal $size $headline-stack;
}

@mixin center-col() {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin linear-gradient($direction, $color-stops...) {
  // Direction has been omitted and happens to be a color-stop
  @if is-direction($direction) == false {
    $color-stops: $direction, $color-stops;
    $direction: 180deg;
  }
 
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

