<div class="dash-subpanel detail-info">
	<h1><a href="#/dashboard/stack/<%-this.options.pageId%>" class="glyphicon glyphicon-chevron-left"></a> Add Item</h1>
	<div class="hidden-xs col-sm-3">
		<img class="bullion-image" src="" alt="">
	</div>
	<div class="col-xs-6 col-sm-9">
		<table class="detail-info">
			<tr class="visible-xs">
				<td>Image</td>
				<td><img class="bullion-image" src="" alt="">
				</td>
			</tr>
			<tr>
				<td>Metal</td>
				<td>
					<select name="metal_type">
						<option value="gold">Gold</option>
						<option value="silver">Silver</option>
						<option value="platinum">Platinum</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>Type</td>
				<td>
					<select name="coin_type">
						<option value="us_eagle">US Eagle</option>
						<option value="panda_coin">Panda coin</option>
						<option value="kreugerrand">Krugerrand</option>
					</select>
				</td>
			</tr>	
			<tr>
				<td>Purchase Date</td>
				<td>
					<select name="purch_date">
						<option value="today">Today</option>
						<option value="yesterday">Yesterday</option>
						<option value="tuesday">Tuesday</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>Qty</td>
				<td><textarea name="qty" rows="1" cols ="20"></textarea></td>
			</tr>									
			<tr>
				<td>Premium</td>
				<td><textarea name="premium" rows="1" cols ="20"></textarea></td>
			</tr>	
			<tr>
				<td>Unit Price</td>
				<td><textarea name="unit_price" rows="1" cols ="20"></textarea></td>
			</tr>	
			<tr>
				<td><%= this.options.pageId %> %</td>
				<td>0.999</td>
			</tr>	
			<tr>
				<td>Weight/unit (g)</td>
				<td>1.244</td>
			</tr>	
			<tr>
				<td><%= this.options.pageId %> g/u</td>
				<td>1.244</td>
			</tr>	
			<tr>
				<td><%= this.options.pageId %> oz/u</td>
				<td>0.04</td>
			</tr>			

		</table>
		<div class="row">
			<div class="col-xs-3">
				<form action="#/dashboard/stack/<%-this.options.pageId%>">
					<button type="submit" class="cancel-btn fr">Cancel</button>
				</form>
			</div>
			<div class="col-xs-9">
				<form action="#/dashboard/stack/<%-this.options.pageId%>">
					<button type="submit" class="submit-btn">Save to My Stack</button>
				</form>

			</div>
	</div>

</div>