.col-xs-12.col-md-2
  nav#menu
    ul.nav
      li(class= current == "home" ? "active" : "blah")
        a(href="dashboard.html") Home
      li(class= current == "gold" ? "active" : "blah")
        a(href="gold.html") My Gold
      li(class= current == "silver" ? "active" : "blah") 
        a(href="silver.html") My Silver
      li(class= current == "platinum" ? "active" : "blah") 
        a(href="platinum.html") My Platinum