<div class="my-stack">
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-lg-4">
      <div class="row stack-value go-container">
        <div class="value-total col-xs-12">
            $24,495.23
              <span class="value-change">+3.5%</span>
            <h1>My Total Stack Value</h1>
        </div>

        <a href="#/dashboard/" class="visible-xs glyphicon glyphicon-chevron-right"></a>

      </div>
      
      <p>
        Market is open <span id="market-time-change" class="fr">closes in 3hr 35 min</span>
      </p>

      <div id="bullion-summaries"></div>
    </div>

    <div class="xs-hidden col-sm-7 col-lg-8">
      <div class="xs-hidden" id="bullion-graph"></div>
    </div>
  </div>
  
</div>