<div class="my-stack">
    <div class="col-xs-12 col-sm-5 col-lg-4"> 
      <div class="row stack-value">
        <% if (this.options.pageId == 'gold') { %>
        <div class="value-total col-xs-6">
          $18,234.10
          <h1>My Total Gold Value</h1>
        </div>
        <div class="value-change col-xs-6 text-right"> 
          <strong>Daily</strong> +3.5% <br>
          <strong>Overall</strong> +1.2%
        </div>
        <% } %>
        <% if (this.options.pageId == 'silver') { %>
        <div class="value-total col-xs-6">
          $7,583.37
          <h1>My Total Silver Value</h1>
        </div>
        <div class="value-change col-xs-6 text-right"> 
          <strong>Daily</strong> +0.4% <br>
          <strong>Overall</strong> +0.2%        
        </div>
        <% } %>
        <% if (this.options.pageId == 'platinum') { %>
        <div class="value-total col-xs-6">
          $3,128.84
          <h1>My Total Platinum Value</h1>
        </div>
        <div class="value-change col-xs-6 text-right"> 
          <strong>Daily</strong> +5.6% <br>
          <strong>Overall</strong> +2.4%        
        </div>
        <% } %>
      </div>

      <div id="bullion-summaries" class="hidden-xs"></div>
    </div>

      <div class="visible-xs col-xs-12 middle">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default tabular"><span class="glyphicon glyphicon-th-list"></span></button>
          <button type="button" class="btn btn-default graph"><span class="glyphicon glyphicon-signal"></span></button>
        </div>
      </div>    

    <div class="col-xs-12 col-sm-7 col-lg-8">
      <div class="clearfix dashboard-panel" id="bullion-graph"></div>
      <div class="hidden-xs row">
        <div class="col-xs-11">
          <div class="form-group has-feedback fr">
            <input type="text" class="form-control" placeholder="Search..."/>
            <span class="form-control-feedback glyphicon glyphicon-search"></span>  
          </div>
        </div>
        <div class="col-xs-1">
          <a class="add glyphicon glyphicon-plus" href="#/dashboard/stack/<%-this.options.pageId%>/add" style="padding:5px"></a>
        </div>
      </div>  
    </div>

    <div class="col-xs-12 clearfix dashboard-panel" id="bullion-coll">
      <h1>My Stack</h1>
        <table class="table-prices">
          <thead>
            <tr>
              <th class="hidden-xs col-image">Image</th>
              <th class="col-item">Item</th>
              <th class="col-qty">Qty</th>
              <th class="col-weight">Weight/unit(g)</th>
              <th class="col-percent">%au</th>
              <th class="col-value">Value</th>
            </tr>
          </thead>
<!--     <div class="hidden">
      <div id="bullion-graph"></div>
      <div class="row">
        <div class="col-xs-11">
          <div class="form-group has-feedback fr">
            <input type="text" class="form-control" placeholder="Search..."/>
            <span class="form-control-feedback glyphicon glyphicon-search"></span>  
          </div>
        </div>
        <div class="col-xs-1">
          <a class="add glyphicon glyphicon-plus" href="#/dashboard/stack/<%-this.options.pageId%>/add" style="padding:5px"></a>
        </div>
      </div>  
    </div> -->

        <tr>
          <td class="hidden-xs col-image">
            <a href="#/dashboard/stack/<%= this.options.pageId %>/view/50">
              <span class="glyphicon glyphicon-picture"></span>
            </a>
          </td>
          <td class="col-item">US Eagle</td>
          <td class="col-qty">1</td>
          <td class="col-weight">1.244</td>
          <td class="col-percent">0.917</td>
          <td class="col-value">
             <a href="#/dashboard/stack/<%= this.options.pageId %>/view/50">
              1119.10
            </a>
          </td>
        </tr>

        <tr>
          <td class="hidden-xs col-image">
            <a href="#/dashboard/stack/<%= this.options.pageId %>/view/50">
              <span class="glyphicon glyphicon-picture"></span>
            </a>
          </td>
          <td class="col-item">US Eagle</td>
          <td class="col-qty">5</td>
          <td class="col-weight">1.244</td>
          <td class="col-percent">0.917</td>
          <td class="col-value">
             <a href="#/dashboard/stack/<%= this.options.pageId %>/view/50">
              5995.50
            </a> 
        </tr>

        <tr>
          <td class="hidden-xs col-image">
            <a href="#/dashboard/stack/<%= this.options.pageId %>/view/50">
              <span class="glyphicon glyphicon-picture"></span>
            </a>
          </td>
          <td class="col-item">US Eagle</td>
          <td class="col-qty">5</td>
          <td class="col-weight">1.244</td>
          <td class="col-percent">0.917</td>
          <td class="col-value">
            <a href="#/dashboard/stack/<%= this.options.pageId %>/view/50">
              4295.50
            </a> 
         </td>
        </tr>
      </table>
    </div>
</div>
