<div class="my-stack summary-panel-main">
    <div class="col-xs-12 col-sm-5 col-lg-4">
      <div id="current-value"></div>
      <div id="market-status" class="hidden-xs">
        The market is <span class="status">open</span> <span id="market-time-change" class="fr">closes in 3hr 35 min</span>
      </div>

      <nav class="col-xs-12 middle">
        <div class="btn-group" role="group">
          <button id="stack-link" type="button" class="btn btn-default tabular"><span class="glyphicon glyphicon-th-list"></span></button>
          <button id="graph-link" type="button" class="btn btn-default graph"><span class="glyphicon glyphicon-signal"></span></button>
        </div>
      </nav>      

      <div id="bullion-summaries"></div>
    </div>

    <div class="col-xs-12 col-sm-7 col-lg-8">
      <div id="bullion-graph"></div>
    </div>
  
</div>