doctype html
html(lang="en")
  base(href="/")
  head
    title= pagetitle

    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css")
    link(href="assets/css/style.css" rel="stylesheet" type="text/css")
  body
    header
      .container

    #content  
      .container
        block content
    footer
      .container
        p this is the footer

    // include JQuery
    script(src="https://code.jquery.com/jquery-2.1.4.min.js")

    // Include Bootstrap
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")