

<!-- header -->
<header>
  <div class="container"></div>
</header>
<body>
<!-- body -->
  <div id="content"> 
    <div id="test"></div>
    <div class="container"> 
      <div class="col-xs-12 col-sm-6 ungrid">
        <div class="row">
          <h1>MyStackApp</h1>
          <p>Manage your bullion stacks with one simple app</p>
        </div>
        <div class="row">
          <div class="login-button"><a id="register" >Sign Up    </a></div>
        </div>
        <div class="row">
          <div class="login-button"> <a id="login" >Login</a></div>
        </div>
      </div>
    </div>
  </div>
</body>
<!-- Footer -->
<footer>
  <div class="container">
  </div>
</footer>