/******************
 * Dashboard
 ******************/
#menu {
    .nav > li {
        background: $smoke;
        margin: 10px;
        width: 60px;
        height: 60px;

        &.active {
            background: $light_gray;
        }
    }

}

.glyphicon {
    zoom: 2.7;
    display: block;
    text-align: center;  

}