/**********************************
 * General
 *********************************/
body {
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $headline-stack;
}
.dash-subpanel {
    max-width: 600px;

    h1 {
        font: headline(16px);
    }
}
.canvasjs-chart-credit {
    display: none;
}
.go-container {
    position: relative;
    .glyphicon {
        display: block;
        position: absolute;
            top: 50%;
            right: 10px;
        transform: translate(0, -50%);
    }
}
/**********************************
 * Sidebar
 *********************************/

.middle {
    text-align: center;
    background-color: gray;
    .tabular {
        background-color: white;
    }
    .graph {
        background-color: black;
    }
}

.btn {
    // square buttons
    // border-radius: 0;
}

.ungrid {
    float: none;
    margin: auto;
}

/**********************************
 * Add Item
 *********************************/
.detail-info {
    table {
        font: paragraph(11px);
        td {
            padding: 4px 10px;            
            &:first-child {
                font-weight: bold;
                text-align: right;
            }
        }
        .bullion-image {
            width: 50px;
            height: 50px;
        }
    }
    .bullion-image {
        border: 1px solid $black;
        width: 120px;
        height: 120px;
    }

}

/**********************************
 * Login screen
 *********************************/
.login-button {
    display: block;

    a {
        color: $white;        
        display: inline-block;
        margin: 10px;
        padding: 10px;
        text-align: center;
        width: 100%;

        &:hover {
            text-decoration: none;
        }

        @include border-radius(10px);        
    }

    #login {
        background: $dark_gray;
    }
    #register {
        background: $red;
    }        
}

/**********************************
 * My Stack
 *********************************/

.add {
    padding: 5px;
}

.dashboard-panel {
    display:none;
}

.active-panel {
    display: block;
}
.stack-value {
    background: $blue;
    color: $white;
    margin: 10px 0;
    padding: 10px;

    h1 {
        color: $lighter-gray;
        font: headline(16px);
        margin: 0;
        text-transform: uppercase;
    }
    .value-total {
        font: headline(48px);
    }
    .value-change {
        font: headline(24px);
        padding: 10px;
        color: $green;
    }        
}

.my-stack {
    background: $white;
    min-height: 300px;
    padding-bottom: 30px;

    h1 {
        font-size: 18px;
    }
}
#dashboard-stack {
    .stack-value {
        h1 {
            position: absolute;            
            width: 100%;
        }
        .value-change {
            color: $gold;

            strong {
                font-weight: normal;
                opacity: 0.8;
                text-transform: uppercase;
            }
        }
    }    
    .bullion-summary .next {
        display: none;
    }
}

.bullion-summary {
    // width: 100%;
    padding-top: 30px;

    h1 {
        border-bottom: 1px solid $gray;
        font: paragraph(14px);
        margin-top: 0;
        padding: 5px 0;
    }
    h2 {
        font: paragraph(11px);
        font-weight: bold;
        margin: 7px 0;
    }
    .data {
        text-align: center;
        margin: 0 0 10px 0;
    }

    td {
        width: 33%;
    }
}

#market-time-change {
    font-style: italic;
    font-size: 80%;
}

.table-prices {
    color: $dark_gray;
    width: 100%;
    text-align: center;

    thead {
        border-bottom: 1px solid $smoke;
        color: $red;

        th {
            padding: 10px 0;
            margin: 0 0 5px 0;
            text-align: center;            
        }
    }
    td {
        padding: 5px;

        &:first-child {
            padding-top: 10px;
        }
    }

}
.col-image, .col-qty, .col-weight, .col-percent {
    td {
        width: 15%;
    }
}
.col-item, .col-value {
    td {
        width: 20%;
    }
}
.current-spot-box {
    width: 80%;
}

.search-box {
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

#bullion-graph {
    display: none;
    min-height: 300px;
}

/**********************************
 * Item detail
 *********************************/
.submit-btn {
    background: $light-gray;
    color: $white;
    width: 180px;
    font-size: 11px;
    border: 0;
}

.cancel-btn {
    background: $white;
    color: $light-gray;
    border: 0;
    font-size: 11px;
    padding-top: 5px;

}

/**********************************
 * Header
 *********************************/
header {
    background: $dark_gray;
    border-top: 8px solid $black;
    padding: 5px;
    margin-bottom: 20px;

    .glyphicon {
        color: $white;
    }

    h1 {
        color: $white;
        font: headline(18px);
        margin: 0;
    }
}
/**********************************
 * Footer
 *********************************/
footer {
    background: $smoke;
    height: 30px;

    h1 {
        margin: 0;
        font-size: 16px;
        color: $gray;
    }
}



.fr {
    float: right;
}
.fl {
    float: left;
}

.border {
    border: 1px;
}