.ungrid {
    float: none;
    margin: auto;
}

/**********************************
 * Login screen
 *********************************/
.login-button {
    display: block;

    a {
        color: $white;        
        display: inline-block;
        margin: 10px;
        padding: 10px;
        text-align: center;
        width: 100%;

        &:hover {
            text-decoration: none;
        }

        @include border-radius(10px);        
    }

    #login {
        background: $dark_gray;
    }
    #register {
        background: $red;
    }        
}

/**********************************
 * Footer
 *********************************/
footer {
    background: $smoke;
    height: 30px;
}