extends templates/layout.jade

block content
  .col-xs-12.col-sm-6.ungrid
    .row
      h1= pagetitle
      p= subtitle
    .row
      .login-button
        button#register Sign Up    
    .row
      .login-button 
        button#login Login