extends templates/layout.jade

block content
  .container 
    .col-xs-12.col-sm-6.ungrid
      .row
        h1= pagetitle
        p= subtitle
      .row
        .login-button
          a#register(href="dashboard.html") Sign Up    
      .row
        .login-button 
          a#login(href="dashboard.html") Login