extends templates/layout.jade

block content
  .row
    // Create navigation
    - var current = 'platinum'      
    include ./templates/dashboard_nav.jade
    
    .col-xs-12.col-md-5
      .info-panel
        #stack-value
          | $24,354
    .col-xs-12.col-md-5
      .graph-panel
        p graph goes here